# Fichiers de l'environnement virtuel
venv/
env/

# Fichiers de cache Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Fichiers de base de données SQLite (si utilisés)
*.sqlite

# Fichier de configuration de l'environnement
.env

# Fichiers de journalisation
*.log

# Dossiers et fichiers de l'éditeur
.vscode/
.idea/
*.swp
*~
.DS_Store

# Autres fichiers et dossiers à ignorer
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
cover/

# Fichiers de configuration spécifiques au déploiement
instance/
.webassets-cache

# Fichiers de configuration Nginx ou Apache (si présents)
nginx.conf
apache.conf
